# --- PyTorch CPU-only versions (much smaller) ---
--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
torchaudio

# --- Core Application Libraries ---
fastapi
uvicorn
python-multipart
faster-whisper //stt
transformers
accelerate
httpx //api
pydub //audio 
edge-tts
nest_asyncio
python-dotenv
aiofiles
langdetect
indic-transliteration 
langid //lang-detection