fastapi
uvicorn
python-multipart
torch
torchvision
faster-whisper
torchaudio
transformers
accelerate
httpx
pyttsx3
pydub
ffmpeg
edge-tts
nest_asyncio
python-dotenv
aiofiles
requests
urllib3
langdetect
indic-transliteration
pytest
black

